---
import BaseLayout from '../../layouts/BaseLayout.astro'
import { getCollection } from 'astro:content'
import DraftTag from '../../components/DraftTag.astro'
import { renderDate, getAllUniqueTags, byTime } from '../../util/general'

const allPosts = await getCollection('blog')
allPosts.sort(byTime)

const uniqueTags = getAllUniqueTags(allPosts)
---

<BaseLayout>
  <h2>Blog</h2>

  <article class='text-center'>
    <h3>Tags:</h3>
    {
      uniqueTags.map((tag) => {
        return <a href={`/tags/${tag}`}>{<code>{tag}</code>} </a>
      })
    }
  </article>
  <ul class='article' class='list-none'>
    {
      allPosts.map((post) => (
        <li class='flex justify-between'>
          <a href={`/blog/${post.slug}`}>
            {post.data.title} <DraftTag isDraft={post.data.draft} />
          </a>

          <span class='text-end'>{renderDate(post.data.pubDate)}</span>
        </li>
      ))
    }
  </ul>
</BaseLayout>
