---
import BaseLayout from '../../layouts/BaseLayout.astro'
import { getCollection } from 'astro:content'
import DraftTag from '../../components/DraftTag.astro'

const allPosts = await getCollection('blog')

const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())]

allPosts.sort((a, b) => {
  return b.data.pubDate.getTime() - a.data.pubDate.getTime()
})
---

<BaseLayout>
  <h2>Blog</h2>

  <article style='text-align: center;'>
    <h3>Tags:</h3>
    {
      uniqueTags.map((tag) => {
        return <a href={`/tags/${tag}`}>{<code>{tag}</code>} </a>
      })
    }
  </article>
  <ul class='article' style='list-style: none;'>
    {
      allPosts.map((post) => (
        <li style='display: flex; justify-content: space-between;'>
          <a href={`/blog/${post.slug}`}>
            {post.data.title} <DraftTag isDraft={post.data.draft} />
          </a>

          <span style='text-align: end;'>
            {post.data.pubDate.toLocaleDateString('en', {
              month: 'short',
              day: 'numeric',
              year: 'numeric'
            })}
          </span>
        </li>
      ))
    }
  </ul>
</BaseLayout>
