---
import BaseLayout from '../../layouts/BaseLayout.astro'
import DraftTag from '../../components/DraftTag.astro'
import { getCollection } from 'astro:content'
import {
  renderDate,
  byTime,
  getAllUniqueTags,
  filterDrafts
} from '../../util/general'
import BackButton from '../../components/BackButton.astro'
import { Icon } from 'astro-icon/components'

export async function getStaticPaths(): Promise<any> {
  const allPosts = await getCollection('blog', (post) => filterDrafts(post))

  const uniqueTags = getAllUniqueTags(allPosts)

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post: any) =>
      post.data.tags.includes(tag)
    )
    filteredPosts.sort(byTime)

    return {
      params: { tag },
      props: { posts: filteredPosts }
    }
  })
}

const { tag } = Astro.params
const { posts } = Astro.props
export const prerender = true
---

<BaseLayout title=`Articles about ${tag}`>
  <h1>Blog<a href='/rss.xml'><Icon class='text-2xl' name='mdi:rss' /></a></h1>
  <BackButton class='absolute' href='/blog' />
  <div class='text-center'>
    <h2>Tag:</h2><code>{tag}</code>
  </div>
  <ul class='article list-none'>
    {
      //@ts-ignore
      posts.map((post) => (
        <li class='flex justify-between'>
          <a href={`/blog/${post.slug}`}>
            {post.data.title}
            <DraftTag isDraft={post.data.draft} />
          </a>
          <span class='text-end'>{renderDate(post.data.pubDate)}</span>
        </li>
      ))
    }
  </ul>
</BaseLayout>
