---
import BaseLayout from "../layouts/BaseLayout.astro";
import ContactMe from "../components/ContactMe.astro";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import Avatar from "../assets/me.png";
const allPosts = await getCollection("blog");
---

<BaseLayout>
	<section style="display: flex;">
		<div></div>
		<div>
			<h2>About Me</h2>
			<p>
				I am a lifelong learner who loves coaxing computers into solving
				real-world headaches. I live for crafting simple yet impactful
				tech.
			</p>
			<p>
				On the side, I learn new languages, write, and try to touch some
				grass.
			</p>
		</div>
	</section>
	<section>
		<h2>Latest Posts</h2>
		{
			(
				<table>
					<thead>
						<th>Date</th>
						<th>Article</th>
						<th>Tags</th>
					</thead>
					<tbody>
						{allPosts.map((post) => (
							<tr>
								<td>
									<a href={`blog/${post.slug}`}>
										{new Date(
											post.data.pubDate,
										).toLocaleDateString("en-US")}
									</a>
								</td>
								<td>
									<a href={`blog/${post.slug}`}>
										{post.data.title}
									</a>
								</td>
								<td>
									<a href={`blog/${post.slug}`}>
										{post.data.tags.join(", ")}
									</a>
								</td>
							</tr>
						))}
					</tbody>
				</table>
			)
		}
	</section>
	<section>
		<h2>Noteworthy Projects</h2>
		{
			allPosts
				.filter((post) => post.data.tags.includes("project"))
				.map((post) => {
					return (
						<tr>
							<td>
								<a href={`blog/${post.slug}`}>
									{new Date(
										post.data.pubDate,
									).toLocaleDateString("en-US")}
								</a>
							</td>
							<td>
								<a href={`blog/${post.slug}`}>
									{post.data.title}
								</a>
							</td>
							<td>
								<a href={`blog/${post.slug}`}>
									{post.data.tags.join(", ")}
								</a>
							</td>
						</tr>
					);
				})
		}
	</section>
	<ContactMe />
</BaseLayout>
