---
const { frontmatter, headings } = Astro.props;
import BaseLayout from "./BaseLayout.astro";
import TableOfContents from "../components/ToC.astro";
---

<BaseLayout>
    <h1 data-pagefind-meta="title">{frontmatter.title}</h1>
    <p>{frontmatter.description}</p>
    {
        !frontmatter.draft ? (
            <p>{new Date(frontmatter.pubDate).toLocaleDateString("en-US")}</p>
        ) : null
    }
    <ul>
        {
            frontmatter.tags.map((tag: string) => (
                <li>
                    <a href={`/tags/${tag}`}>
                        <code>{tag}</code>
                    </a>
                </li>
            ))
        }
    </ul>
    <TableOfContents headings={headings} />
    <slot />
</BaseLayout>
